#name: "CodeQL and Docker Tag"

on:
  push:
    branches: ["github-*"]
  #pull_request:
    #types:
    #  - closed
    #branches: ["main"]
  #workflow_dispatch:

defaults:
  run:
    working-directory: ./application

jobs:
  #image-version:
  #  name: Image Version
  #  runs-on: ubuntu-latest

  #  steps:
  #  - name: path
  #    run: ls -l
      
  #  - name: Check Package Version
  #    run: yq .version ./package.json

  image-tag:
    name: Image
    runs-on: ubuntu-latest
    #needs: containerize
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: List Local Images
        #if: ${{ github.event_name == 'pull_request' && github.event.action == 'unassigned' }}
        run: docker images

      - name: Docker login
        run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
      
      - name: List Docker Hub Images
        #if: ${{ github.event_name == 'pull_request' && github.event.action == 'unassigned' }}
        run: docker images
