#name: "CodeQL and Docker Tag"

on:
  push:
    branches: ["github-*"]
  #pull_request:
    #types:
    #  - closed
    #branches: ["main"]
  #workflow_dispatch:

defaults:
  run:
    working-directory: ./application

jobs:
  #image-version:
  #  name: Image Version
  #  runs-on: ubuntu-latest

  #  steps:
  #  - name: path
  #    run: ls -l
      
  #  - name: Check Package Version
  #    run: yq .version ./package.json

  image-tag:
    name: Image
    runs-on: ubuntu-latest
    #needs: containerize
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: List Local Images
        #if: ${{ github.event_name == 'pull_request' && github.event.action == 'unassigned' }}
        run: docker images
      
      - name: List Docker Hub Images
        #if: ${{ github.event_name == 'pull_request' && github.event.action == 'unassigned' }}
        run: docker search ${{secrets.DOCKER_USERNAME}}

      - name: Config Git
        run: |
          git --version
          git branch -a
          git checkout -f develop
          git log -1 | grep commit | cut -d " " -f 2
          IMAGE_TAG=$(git log -1 | grep commit | cut -d " " -f 2)
          echo $IMAGE_TAG

      - name: Pull image
        run: |
          docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
          echo "------"
          git pull ${{vars.APP_IMAGE}}:$IMAGE_TAG
          docker images | grep ${{vars.APP_IMAGE}}
