#name: "webadmin workflow"
on:
  push:
    #branches: ["develop"]
    branches: ["github-*"]
  workflow_dispatch:
defaults:
  run:
    working-directory: ./application
jobs:
  containerize:
    name: Build & Push Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: check pwd
        run : ls
      - name: Build Docker image
        run: |
          docker build . --file Dockerfile --tag ${{vars.APP_IMAGE}}:$GITHUB_SHA
      - name: Docker login
        run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
      - name: Docker push to registry
        run: docker push ${{vars.APP_IMAGE}}:$GITHUB_SHA

  condition:
    steps:
      - name: My first step
        #if: ${{ github.event_name == 'pull_request' && github.event.action == 'unassigned' }}
        run: |
          docker pull ${{vars.APP_IMAGE}}:$GITHUB_SHA
          docker images